parameters:
	level: 0
	paths:
		- .
	excludePaths:
		- vendor
	bootstrapFiles:
		- vendor/yahnis-elsts/plugin-update-checker/plugin-update-checker.php
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	ignoreErrors:
		- '#Function wcs_.* not found#'
		- '#Call to static method .* on an unknown class (WCS|WC_Subscriptions).*#'