/* Order Admin Config styles */
.mbbxs_history  {
    width: 100%; 
    -webkit-border-vertical-spacing: 10px;
}

.mbbxs_history .mbbx_msg {
    text-align: center;
    border-radius: 5px;
}

.mbbxs_history td.mbbx_msg_cancelled {
    color: red;
    background: #ffcbcb;
}

.mbbxs_history td.mbbx_msg_approved {
    color: green;
    background: #ebffcb;
}

.mbbxs_history td.mbbx_msg_on-hold {
    color: blue;
    background: #cbd4ff;
}

.mbbxs_history td button.mbbx_retry_btn {
    min-height: 18px;
    height: 18px;
    line-height: 0;
}